nav{
	display: flex;
	justify-content: space-between;
	position: sticky;
	border: 1px solid;
	padding: 1rem 3rem;
	align-items: center;
	top: 0;
	z-index: 999;
}

nav input{
	padding: .5rem 1rem;
	width: 500px;
}

nav ul{
	display: flex;
	gap:1rem
}